
<mat-sidenav-container mode="over" fullscreen>
    <mat-sidenav  #sidenav>
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div [style.minHeight.%]="100" fxLayout="column" layout-fill flex>
                <mat-toolbar color="primary" fxLayoutAlign="space-between center">
                            <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
                            {{title}}
                            <button mat-button (click)="sidenav.toggle()">Déconnexion</button>
                                            
                </mat-toolbar>
            <app-body fxFlex="1"></app-body> <!--mettre un ngIf lorsqu'il y aura le module de connection en Oath2-->
            <app-footer></app-footer> 
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>




