
<!-- </div> -->
<br>
<form class="adminForm">
  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Nom">
  </mat-form-field>

  <mat-form-field class="inputFullWidth">
    <input matInput type="date" placeholder="Date de création">
  </mat-form-field>

  <mat-form-field class="inputFullWidth"> 
    <input matInput type="date" placeholder="Classée le :">
  </mat-form-field>

  <mat-form-field class="inputFullWidth">
    <textarea matInput placeholder="Infos relatives à l'affaire."></textarea>
  </mat-form-field>

  <br>

  <mat-checkbox>Clore l'affaire</mat-checkbox>

  <br>

  <button mat-raised-button color="primary">Ajouter</button>
  <button mat-raised-button color="primary">Modifier</button>
  <button mat-raised-button color="primary">Supprimer</button>
</form>