
<h2 mat-dialog-title *ngIf="test(); else affaireVide">Liste des affaires liées à l'arme : {{arme.numero_serie}}</h2>

<ng-template #affaireVide>
    <h2 mat-dialog-title>Aucune affaire n'est liée à cette arme actuellement.</h2>
</ng-template>

<mat-dialog-content>
  
  <div *ngIf="dataSourceAffaire.data.length>0">
      <mat-table class="filtreTableAffaire" #table [dataSource]="dataSourceAffaire" matSort>

          <!-- Nom Column -->
          <ng-container matColumnDef="nom_affaire">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
            <mat-cell *matCellDef="let affaire"> {{affaire.nom_affaire}} </mat-cell>
          </ng-container>
      
          <!-- Date Creation Column -->
          <ng-container matColumnDef="date_creation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Création </mat-header-cell>
            <mat-cell *matCellDef="let affaire"> {{affaire.date_creation}} </mat-cell>
          </ng-container>
      
          <!-- Clos Column -->
          <ng-container matColumnDef="date_cloture">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Classé le </mat-header-cell>
            <mat-cell *matCellDef="let affaire"> {{affaire.date_cloture}} </mat-cell>
          </ng-container>
      
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id_affaire}" (click)="highlight(row)"></mat-row>
        </mat-table>
      </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button class="mat-raised-button" (click)="closeDial()">Fermer</button>
  <button class="mat-raised-button mat-primary" matTooltip="Ne plus lier cette affaire à cette arme." [disabled]="!selectedAffaire" (click)="delierDeLaffaire(aff.id_affaire)">Délier</button>
</mat-dialog-actions>