<div>
  <div class="filtreTableAffaire">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
    </mat-form-field>
  </div>

  <mat-table class="filtreTableAffaire" #table [dataSource]="dataSourceAffaire" matSort>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom_affaire">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let affaire"> {{affaire.nom_affaire}} </mat-cell>
    </ng-container>

    <!-- Date Creation Column -->
    <ng-container matColumnDef="date_creation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Création </mat-header-cell>
      <mat-cell *matCellDef="let affaire"> {{affaire.date_creation}} </mat-cell>
    </ng-container>

    <!-- Clos Column -->
    <ng-container matColumnDef="date_cloture">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Classé le </mat-header-cell>
      <mat-cell *matCellDef="let affaire"> {{affaire.date_cloture}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id_affaire}" (click)="highlight(row)"></mat-row>
  </mat-table>
</div>
<br>
<form #affaireForm="ngForm" (ngSubmit)="onSubmit(affaireForm)">
  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Nom" required name="nom_affaire" [(ngModel)]="aff.nom_affaire">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
    <input matInput type="date" placeholder="Date de création" name="date_creation" [(ngModel)]="aff.date_creation">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
    <input matInput type="date" placeholder="Classée le :" name="date_cloture" [(ngModel)]="aff.date_cloture">
  </mat-form-field>

  <br>
  <mat-form-field class="inputFullWidth">
    <textarea matInput matTextareaAutosize placeholder="Infos relatives à l'affaire." name="infos_affaire" [(ngModel)]="aff.infos_affaire"></textarea>
  </mat-form-field>

  <br>

  <mat-slide-toggle name="classee" [(ngModel)]="aff.classee">{{aff.classee ? 'Affaire classée' : 'Classer l\'affaire'}}</mat-slide-toggle>

  <br>
  <br>

  <button mat-raised-button color="primary" type="submit" [disabled]="!affaireForm.valid">{{edition ? 'Modifier' : 'Créer'}}</button>
</form>

<br>
<button mat-raised-button (click)="ajouterArmeAAffaire()">Ajouter Armes à l'affaire</button>
<button class="mat-raised-button mat-primary" [disabled]="!edition" (click)="armeDelAffaire()">Armes de l'affaire</button>

<br>
<br>
<button mat-raised-button (click)="ajoutSuspectsAffaire()">Ajouter Suspects à l'affaire</button>
<button class="mat-raised-button mat-primary" [disabled]="!edition" (click)="supectDelAffaire()">Suspects de l'affaire</button>
<br>
<br>
<button mat-raised-button (click)="ajouterVehiculesAffaire()">Ajouter Véhicules à l'affaire</button>
<button class="mat-raised-button mat-primary" [disabled]="!edition" (click)="vehiculeDelAffaire()">Véhicules de l'affaire</button>

<br>
<br>
<button mat-raised-button (click)="cancelSelect()">Effacer</button>
<button mat-raised-button (click)="deleteAffaire()">Supprimer</button>
<br>