<div>
  <div class="filtreTableAgent">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
    </mat-form-field>
  </div>

  <mat-table class="filtreTableAgent" #table [dataSource]="dataSourceUser">
    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let agent"> {{agent.nom}} </mat-cell>
    </ng-container>

    <!-- Prenom Column -->
    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let agent"> {{agent.prenom}} </mat-cell>
    </ng-container>

    <!-- Matricule Column -->
    <ng-container matColumnDef="matricule">
      <mat-header-cell *matHeaderCellDef> Matricule </mat-header-cell>
      <mat-cell *matCellDef="let agent"> {{agent.matricule}} </mat-cell>
    </ng-container>

    <!-- Mot de passe Column -->
    <ng-container matColumnDef="password">
      <mat-header-cell *matHeaderCellDef> Mot de passe </mat-header-cell>
      <mat-cell *matCellDef="let agent"> {{agent.password}} </mat-cell>
    </ng-container>

    <!-- Habilitation Column -->
    <ng-container matColumnDef="habilitation">
      <mat-header-cell *matHeaderCellDef> Habilitation </mat-header-cell>
      <mat-cell *matCellDef="let agent"> {{agent.habilitation}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"[ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></mat-row>
  </mat-table>
</div>

<form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm)">
  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Nom" required name="user_nom" [(ngModel)]="user.nom">
  </mat-form-field>

  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Prénom" required name="user_prenom" [(ngModel)]="user.prenom">
  </mat-form-field>

  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Matricule" required name="user_matricule" [(ngModel)]="user.matricule">
  </mat-form-field>

  <mat-form-field class="inputFullWidth">
    <input matInput placeholder="Mot de passe" required name="user_password" [(ngModel)]="user.password">
  </mat-form-field>

  <mat-form-field class="inputFullWidth">
    <mat-select placeholder="Habilitation" required name="habilitation_agent" [(ngModel)]="user.habilitation">
      <mat-option *ngFor="let habilitation of habilitations" [value]="habilitation.value">
        {{ habilitation.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <button class="mat-raised-button mat-primary" type="submit" [disabled]="!adminForm.valid">{{edition ? 'Modifier' : 'Créer'}}</button>
    </form>

    <br>
    <button mat-raised-button (click)="cancelSelect()">Effacer</button>
    <button mat-raised-button (click)="deleteAgent()">Supprimer</button>
