
<div class="div-image"><a class="aCliquable" routerLink="/affaire"><img class="bouton-accueil" src="../assets/affaire.png" alt="Affaire"></a></div>
<div class="div-image"><a class="aCliquable" routerLink="/suspect"><img class="bouton-accueil" src="../assets/suspect.png" alt="Suspect"></a></div>
<div class="div-image"><a class="aCliquable" routerLink="/arme"><img class="bouton-accueil" src="../assets/arme.png" alt="Arme"></a></div>
<div class="div-image"><a class="aCliquable" routerLink="/vehicule"><img class="bouton-accueil" src="../assets/vehicule.png" alt="Vehicule"></a></div>

