
<div class="div-image"><a class="aCliquable" routerLink="/affaires"><img class="bouton-accueil" src="../assets/affaire.png" alt="Affaire"></a></div>
<div class="div-image"><a class="aCliquable" routerLink="/suspects"><img class="bouton-accueil" src="../assets/suspect.png" alt="Suspect"></a></div>
<div class="div-image"><a class="aCliquable" routerLink="/armes"><img class="bouton-accueil" src="../assets/arme.png" alt="Arme"></a></div>
<div class="div-image"><a class="aCliquable" routerLink="/vehicule"><img class="bouton-accueil" src="../assets/vehicule.png" alt="Vehicule"></a></div>

