<div>
  <img src="../assets/menu.jpg" alt="Menu" class="image-voiture">  
</div>

<div class="mat-display-1" fxLayoutAlign="center">
  <h2>MCPD</h2>
</div>

<mat-nav-list>
  <mat-list>
    <mat-list-item routerLinkActive="active" routerLink="/affaires" (click)="sideNavService.toggleNav()">Affaires</mat-list-item>
    <mat-list-item routerLinkActive="active" routerLink="/suspects" (click)="sideNavService.toggleNav()">Suspects</mat-list-item>
    <mat-list-item routerLinkActive="active" routerLink="/armes" (click)="sideNavService.toggleNav()">Armes</mat-list-item>
    <mat-list-item routerLinkActive="active" routerLink="/vehicules" (click)="sideNavService.toggleNav()">Véhicules</mat-list-item>
  </mat-list>
</mat-nav-list>

