<div>
  <img src="../assets/menu.jpg" alt="Menu" class="image-voiture">  
</div>

<div class="mat-display-1" fxLayoutAlign="center">
  <h2>MCPD</h2>
</div>

<mat-nav-list>
  <a href="" routerLink="/affaire" (click)="sideNavService.toggleNav()"><h3>Affaires</h3></a>
  <a href="" routerLink="/suspect" (click)="sideNavService.toggleNav()"><h3>Suspects</h3></a>
  <a href="" routerLink="/arme" (click)="sideNavService.toggleNav()"><h3>Armes</h3></a>
  <a href="" routerLink="/vehicule" (click)="sideNavService.toggleNav()"><h3>Véhicules</h3></a>
</mat-nav-list>

